# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
app/build/classes
app/build/distributions
app/build/generated
app/build/reports
app/build/resources
app/build/scripts
app/build/test-results
app/build/tmp
app/bin
hosts.yml
